:root {
  --white: #f0f0f0;
  --purple: #7a24ad;
  --black: #121212;
  --background-gradient: linear-gradient(45deg, #1e1324, #121212);
  --btn-gradient: linear-gradient(34deg, #400b67 0%, #7a24ad 55%, #4a19d3 100%);
  --main-gradient: linear-gradient(
    180deg,
    #3d0066 0%,
    #7a24ad 50%,
    #5119d3 100%
  );
}
