.decor__icon {
  &-starOne {
    position: absolute;
    z-index: -1;
    top: -10px;
    left: 43%;
    width: 180px;
    height: 180px;
  }
  &-starTwo {
    position: absolute;
    z-index: -1;
    width: 234px;
    height: 234px;
    right: 7%;
    bottom: 7%;
    rotate: (320deg);
  }
  &-starThree {
    position: absolute;
    z-index: -1;
    width: 156px;
    height: 156px;
    left: 40%;
    bottom: -12%;
    rotate: (320deg);
  }
  &-ellipseOne {
    position: absolute;
    z-index: -1;
    width: 1465px;
    height: 1465px;
    left: -42%;
    top: -30%;
  }
  &-ellipseTwo {
    position: absolute;
    z-index: -1;
    right: 0;
    width: 900px;
    height: 900px;
    top: -55%;
  }
  &-block {
    position: absolute;
    z-index: -1;
    width: 1013px;
    height: 1171px;
    left: 0;
    top: 30%;
  }
  &-blockTwo {
    position: absolute;
    z-index: -1;
    width: 1013px;
    height: 1171px;
    right: 0%;
    transform: translateX(45%);
    top: 5%;
    overflow: hidden;
  }
  &-ellipseThree {
    position: absolute;
    z-index: -1;
    left: -20%;
    top: 150%;
  }
  &-ellipseFour {
    position: absolute;
    z-index: -1;
    right: 0;
    transform: translateX(45%);
    top: 40%;
  }
  &-starFour {
    position: absolute;
    z-index: -1;
    width: 266px;
    height: 266px;
    right: 5%;
    top: -25%;
    rotate: (306deg);
  }
  &-starFive {
    position: absolute;
    z-index: -1;
    width: 187px;
    height: 187px;
    left: 3%;
    bottom: -20%;
    rotate: (299deg);
  }
  &-ellipseFive {
    position: absolute;
    z-index: -1;
    right: 0;
    transform: translateX(45%);
    top: 14%;
  }
  &-starSix {
    position: absolute;
    z-index: -1;
    width: 150px;
    height: 150px;
    left: 50%;
    rotate: (270deg);
  }
  &-ellipseSix {
    position: absolute;
    z-index: -1;
    left: -19%;
    top: 8%;
  }
}

.decor__icon-ellipseSix,
.decor__icon-ellipseFive,
.decor__icon-ellipseFour,
.decor__icon-ellipseThree {
  width: 750px;
  height: 770px;
  display: block;
}
.decor__icon-blockTwo,
.decor__icon-block {
  display: block;
}

@media (max-width: 1355px) {
  .decor__icon-ellipseTwo {
    display: none;
  }
  .decor__icon-starOne {
    left: 75%;
  }
}

@media (max-width: 787px) {
  .decor__icon-ellipseOne {
    position: absolute;
    z-index: -1;
    width: 965px;
    height: 965px;
    left: -42%;
    top: -20%;
  }
  .decor__icon-starOne {
    position: absolute;
    left: 50%;
  }
}

@media (max-width: 768px) {
  .decor__icon-ellipseSix,
  .decor__icon-ellipseFive,
  .decor__icon-ellipseFour,
  .decor__icon-ellipseThree {
    width: 655px !important;
    height: 655px !important;
  }
}

@media (max-width: 475px) {
  .decor__icon-ellipseSix,
  .decor__icon-ellipseFive,
  .decor__icon-ellipseFour,
  .decor__icon-ellipseThree {
    display: none !important;
  }
  .decor__icon-blockTwo {
    display: none !important;
  }
  .decor__icon-starSix {
    display: none;
  }
  .decor__icon-starFive {
    display: none !important;
  }
  .decor__icon-starFour {
    display: none !important;
  }
}

@media (max-width: 380px) {
  .decor__icon-starOne,
  .decor__icon-ellipseOne,
  .decor__icon-starTwo,
  .decor__icon-starThree,
  .decor__icon-ellipseThree,
  .decor__icon-ellipseFour {
    display: none;
  }
}
