.design {
  margin-top: 153px;
  padding-top: 40px;
  position: relative;
  &__popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-window {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -25%);
      border-radius: 15px;
      border: 9px solid var(--purple);
      width: 1350px;
      max-height: 600px;
      z-index: 5;
      overflow-y: auto;
      overflow-x: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    &-close {
      transition: ease 0.3s;
      position: absolute;
      opacity: 0.7;
      transform: translate(1090%, -220%);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 53px;
      height: 53px;
      background-color: #c8a6dc;
      border-radius: 50%;
      z-index: 6;
      cursor: pointer;
      border: none;
      img {
        width: 25px;
        height: 25px;
        color: white;
      }
      &:hover {
        opacity: 1;
      }
    }
  }

  &__block {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 36px;
    max-height: 536px;
    &-item {
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      transition: ease 0.3s;
      border-right: none;
      border-top: none;
      cursor: pointer;
      border-left: 6px solid var(--purple);
      border-bottom: 6px solid var(--purple);
      &::after {
        content: "";
        position: absolute;
        transition: ease 0.3s;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: var(--purple);
        opacity: 0;
      }

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: saturate(0);
        position: relative;
      }
      &:hover {
        .design__block-item-img {
          filter: saturate(1);
        }
        .design__block-icon {
          opacity: 1;
        }
        &::after {
          content: "";
          opacity: 0.35;
        }
      }

      &.item-4 {
        grid-row-start: span 2;
      }
      &.item-5 {
        grid-column-start: span 2;
      }
      &.item-6 {
        grid-column-start: span 1;
      }
    }
    &-icon {
      opacity: 0;
      transition: ease 0.3s;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 46px;
      background-color: var(--white);
      border-radius: 50%;
      z-index: 2;
      cursor: pointer;
      img {
        width: 27px;
        height: 27px;
      }
    }
  }
}

.design__popup.js-open-popup {
  display: block !important;
  z-index: 1000;
}

@media (max-width: 1500px) {
  .design__popup-window {
    width: 1000px;
    max-height: 470px;
  }
  .design__popup-close {
    transform: translate(780%, -176%);
  }
}

@media (max-width: 1100px) {
  .design__popup-window {
    width: 770px;
    max-height: 440px;
  }
  .design__popup-close {
    transform: translate(568%, -165%);
  }
}
@media (max-width: 992px) {
  .design__block {
    grid-template-columns: 1fr 1fr 1fr;
    &-item {
      &.item-4 {
        grid-row-start: auto;
      }
      &.item-5 {
        grid-column-start: auto;
      }
      &.item-6 {
        grid-column-start: auto;
      }
    }
  }
}

@media (max-width: 830px) {
  .design__popup-window {
    width: 640px;
  }
  .design__popup-close {
    transform: translate(450%, -165%);
  }
}

@media (max-width: 768px) {
  .design__title {
    align-items: center;
    margin: 0 auto;
    font-size: 38px;
  }
}

@media (max-width: 675px) {
  .design {
    margin-top: 100px;
  }
  .design__block {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    &-item {
      &.item-4 {
        grid-row-start: auto;
      }
      &.item-5 {
        grid-column-start: auto;
      }
      &.item-6 {
        grid-column-start: auto;
      }
    }
  }

  .design__popup-window {
    width: 520px;
  }
  .design__popup-close {
    transform: translate(340%, -165%);
  }
}

@media (max-width: 550px) {
  .design__popup-window {
    width: 400px;
  }
  .design__popup-close {
    transform: translate(353%, -237%);
    width: 38px;
    height: 38px;
  }
  .design__popup-close img {
    width: 19px;
    height: 19px;
  }
}

@media (max-width: 425px) {
  .design {
    margin-top: 40px;
  }
  .design__popup-window {
    width: 300px;
  }
  .design__popup-close {
    transform: translate(230%, -230%);
  }
}
@media (max-width: 375px) {
  .design_block-icon {
    width: 38px;
    height: 38px;
  }
}
