.footer {
  background: linear-gradient(
    318deg,
    rgba(66, 5, 107, 0.2) 0%,
    rgba(66, 5, 107, 0.2) 100%
  );
  padding: 17px 0;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
